{% extends "parts/backoffice.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block main %}

    {% if user %}

    {% else %}
        <h1> Inicio de sesión</h1>
        <form action="/backoffice-login">
            <label>
                <input class="inicioSesion" placeholder="&#128100; Usuario" required>
            </label>
            <label> 
                <input class="inicioSesion" placeholder="&#128274; Contraseña" required>
            </label>
            <button class="botonInicioSesion" type="submit">Continuar</button>
            <a href="/" class="inicio">Volver al Inicio</a>
        </form>

    {% endif %}
{% endblock %}