{% extends "parts/backoffice.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block main %}

    {% if user %}

    {% else %}
        <h1> Inicio de sesión</h1>
        <form action="/backoffice-login">
            <label> Usuario
                <input placeholder="&#128100; Usuario" required>
            </label>
            <label> Contraseña
                <input placeholder="&#128274; Contraseña" required>
            </label>
            <button type="submit">Continuar</button>
        </form>
    {% endif %}

{% endblock %}