{% extends "parts/commons.twig" %}

{% block head %}
{% endblock %}

{% block main %}

    <section>
        {{ dump(data) }}
        <h1>Carrito</h1>

        <article>

        </article>
    </section>

{% endblock %}