{% extends "parts/commons.twig" %}

{% block head %}
    <script src="https://www.mercadopago.com/v2/security.js" view="item"></script>
{% endblock %}

{% block main %}

    <section>
        <a href="">Cancelar compra</a>
{#        TODO: Agregar backurl#}
        <a href="{{ attribute(data.preference, "sandbox_init_point") }}"> Pagar </a>
        <h1>Carrito</h1>
        {% for publicacion in data.publicaciones %}
        <article>
            <h2>{{ publicacion.nombre }}</h2>
            <picture>
                <img alt="{{ publicacion.nombre }}" src="{{ publicacion.foto }}">
            </picture>
        </article>
        {% endfor %}

    </section>

{% endblock %}