{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/categorias.css" />
{% endblock %}

{% block main %}
<img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
<h1>Categorias</h1>

    {% for categoria in data.categorias %}

        {% if grupo_categoria.id == data.actual.id_grupo_categoria %}
            <a class="categorias" href="/subcategoria?categoria={{categoria.id}}" title="{{categoria.descripcion}}">{{categoria.descripcion}}</a>
            {% else %}
         <p>{{ categoria.descripcion }}</p>
     {% endif %}
    {% else %}

        <span>No hay resultados en la búsqueda</span>
    {% endfor %}
    
{% endblock %}



