{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/categorias.css" />
{% endblock %}

{% block main %}
<img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" border="0" onclick="history.back();">
<h1 id="tituloP">Categorias</h1>

      {% for categoria in data.categorias %} 
       
        <a href="/publicacion/Ver?id={{categoria.id}}" title="{{categoria.descripcion}}">{{categoria.descripcion}}</a>
    {% else %}

        <span>No hay resultados en la busqueda</span>
    {% endfor %}
    
{% endblock %}



