{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/categorias.css" />
{% endblock %}

{% block main %}
<h1>Detalles del producto</h1>

      {% for publicacion in data.public %} 
       
        <a href="#" title="{{publicacion.descripcion}}">{{publicacion.descripcion}}</a>
    {% else %}

        <span>No hay resultados en la busqueda</span>
    {% endfor %}
    
{% endblock %}