{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/detalleproducto.css" />
{% endblock %}

{% block main %}
<img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" border="0" onclick="history.back();">
<h1>Detalles del producto</h1>
        <section>
            {% for publicacion in data.publicaciones %}
                <article>
                    <h2>{{ publicacion.producto.nombre }}</h2>
                    <p>{{ publicacion.producto.descripcion }}</p>
                    <p>$ {{ publicacion.precio_unidad }}</p>
                    <a class="agregar">Agregar</a>
                </article>
            {% endfor %}
        </section>         

{% endblock %}

{% block footer %}
        <p class="footer">Envío GRATIS a Capital Federal</p>
        <p class="footer">Entrega estimada 8 días hábiles</p>
{% endblock %}

