{% extends "parts/commons.twig" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/categorias.css" />
{% endblock %}

{% block main %}
<img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
<h1>Categorias generales</h1>
           
      {% for grupo_categoria in data.grupo_categorias %} 

        <a class="categorias" href="/categorias?grupo_categoria={{ grupo_categoria.id }}" title="{{grupo_categoria.descripcion}}">{{grupo_categoria.descripcion}}</a>
    {% else %}

        <span>No hay resultados en la búsqueda</span>
    {% endfor %}
    
{% endblock %}