{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/informes.css" />
{% endblock %}

{% block main %}
<img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" border="0" onclick="history.back();">
     <h1 id="tituloP">Informe de Ventas Minoristas</h1>
    <h2>A nivel nacional - Junio de 2021 </h2>
    <section>
      <h3>En mayo las ventas cayeron un 0,7% en relación a igual mes
        de 2020</h3>
        <p>En el mes de mayo las ventas minoristas online y en los
          locales de cercanía cayeron 0,7% en relación a igual período del año anterior.
          Este fue el sexto mes consecutivo de retracción interanual de los volúmenes
          vendidos en estas locaciones.</p>

      <img src="img/ventas-grafico1.png" > 

          <p>Las ventas minoristas online y en loslocales de cercanía mostraron
            una baja que reafirma el estancamiento de los últimos meses –desde diciembre de 2020 se
            registran sucesivas bajas interanuales–. La baja de mayo estuvo impulsada por la retracción
            que sufrieron las ventas en el Interior del país, de 2,2 por ciento.
            De este modo, en el acumulado de los primeros cinco meses del año a nivel nacional se
            observó una retracción de 0,7%, lo que contrasta con los avances detectados en años
            anteriores.</p>

            <p>Asimismo, el citado retroceso de las ventas se produjo en un mes en el que la confianza de
              los consumidores, de acuerdo a la medición de la Universidad Torcuato Di Tella, registró
              una caída. En concreto, respecto a mayo de 2020 el indicador registró una baja de 8,5 por
              ciento. Considerando la estrecha vinculación observada entre el indicador de confianza y
              los volúmenes vendidos, las perspectivas de ventas no son demasiado alentadoras, dado
              que la medición de confianza de la Di Tella continua mostrando una retracción interanual,
              aunque es cierto que esta se ha moderado (en junio cayó 5,8%).</p>

      <h3>Resultados por regiones</h3>

            <p>Distinguiendo por regiones del país, se observa que en mayo en el área metropolitana
              (Capital Federal y Gran Buenos Aires) las ventas avanzaron intermensualmente 3,9%
              mientras que en el Interior lo hicieron 1,9% por ciento. Con respecto a mayo de 2020, se
              observó una suba de 1,3% en el área metropolitana y una caída de 2,2% en el Interior. La
              siguiente tabla presenta el detalle de diversas variaciones por regiones.</p>
      
      <img src="img/ventas-grafico2.png" > 

            <p>Se observa que considerando los primeros cinco meses del año, las ventas en Capital
             Federal y Gran Buenos Aires avanzaron 1,2% mientras que en el Interior cayeron 2,1 por ciento.</p>

      <h3>Resultados por rubros</h3>  

            <p>A nivel nacional, los únicos incrementos interanuales en el mes de mayo correspondieron
              a los componentes de audio (2,7%) y computadores (0,8%). En el caso de los electrodomésticos
              , se observó un incremento fuerte en el área metropolitana (6,2%, vs. una baja de
              0,5% en el Interior). En el caso de los aires acondicionados, hubo una suba en el área metropolitana de
              2,8%, mientras que en el Interior hubo una caída de 0,6 por ciento. La principal baja a
              nivel nacional correspondió a Freezer. También fueron importantes las bajas en las
              categorías Cosmética y Hogar, con 2,7 y 2%, respectivamente. </p>

    </section>


{% endblock %}