{% extends "parts/commons.twig" %}

{% block head %}
    <script src="https://www.mercadopago.com/v2/security.js" view="item"></script>
    <link rel="stylesheet" type="text/css" href="css/carrito.css" />
    <script src="/js/scripts/carrito.js" ></script>
{% endblock %}

{% block main %}

    <section>
            <h2>Login</h2>
            <form method="post" action="/login">
                <label for="username">Usuario:</label>
                <input type="text" name="username" id="username" required>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" required>
                <a href="/registrarse">Registrarse</a>
                <button type="submit">Ingresar</button>
            </form>
        </section>
    
{% endblock %}


