
{% block head %}
    <script src="https://www.mercadopago.com/v2/security.js" view="item"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <script src="/js/scripts/carrito.js" ></script>
{% endblock %}

{% block main %}

    <section>
        <img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
            <h1>Login</h1>
        <section class="formulario">
            <form method="post" action="/login">
                <div>
                <label for="username">Usuario</label>
                <input type="text" name="username" id="username" required>
                </div>
                <div>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" required>
                </div>
                <a href="/registrarse">Registrarse</a>
                <button type="submit">Ingresar</button>
            </form>
        </section>
    </section>


{% endblock %}


