{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/error.css" />
{% endblock %}

{% block main %}
        <section><h1>Tienda Virtual</h1></section>
        <h2>Página no encontrada</h2>
        <p>La URL solicitada no se encontró en este servidor</p>
        <img src="img/error-404.png">
        <section>
            <p class="telefonos">Teléfonos de contacto</p>
            <p class="numeros">1124563258</p>
            <p class="numeros">1132654297</p>
        </section>

{% endblock %}

{% block footer %}
        <a href="/" class="inicio">Volver al Inicio</a>
{% endblock %}