{% extends "parts/commons.twig" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="css/pago-completo.css" />
{% endblock %}

{% block main %}

    <section>
        <h2>Pago completo</h2>
        <p>Se ha completado el pago</p>
        <img src="img/green-check.png">
    </section>
{% endblock %}