{% extends "parts/commons2.twig" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/perfil-direcciones.css" />
    <link rel="stylesheet" type="text/css" href="/css/perfil.css" />
    <script src="/js/scripts/perfil-direcciones.js" ></script>
{% endblock %}

{% block main %}

    <img src="img/arrow_back-24px.svg"  class="flecha-back" id="flecha" onclick="history.back();">
    <h1>Perfil</h1>
    <section class="profile-section">
        <section class="slide-bar">
            <ul>
                {#<li><a href="/profile-details"><i class="fas fa-qrcode"></i>Datos personales</a></li>#}
                <li><a href="/profile-address"><i class="fas fa-link"></i>Dirección</a></li>
            </ul>
        </section>
        <section class="details">
            <h2>Dirección</h2>
            <form>
                <div>
                <label><small>Código postal</small>
                    <input name="cod-postal" type="number" required>
                </label>
                </div>
                <div>
                <label><small>Provincia</small>
                    <select id="provincia" name="provincia" required>
                        {% for provincia in data.provincias %}
                            <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                        {% endfor %}
                    </select>
                </label>
                </div>
                <div>
                <label><small>Ciudad</small>
                    <select id="ciudad"  name="ciudad" required>
                    </select>
                </label>
                </div>
                <div>
                <label><small>Calle</small>
                    <input name="calle" required>
                </label>
                </div>
                <div>
                <label><small>Número</small >
                    <input name="numero" type="number" required>
                </label>
                </div>
                <div>
                <label><small>Departamento</small>
                    <input name="departamento">
                </label>
                </div>
                <button type="submit">Agregar</button>
            </form>
        </section>
        <section id="details-list" class="details-list">
            <ul>

            </ul>
        </section>
    </section>
{% endblock %}