{% extends "parts/commons.twig" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/perfil-direcciones.css" />
    <link rel="stylesheet" type="text/css" href="/css/perfil.css" />
    <script src="/js/scripts/perfil-direcciones.js" ></script>
    <script src="/js/scripts/perfil.js" ></script>
{% endblock %}

{% block main %}

    <section class="profile-section">
        <section class="slide-bar">
            <h3>Perfil</h3>
            <ul>
                <li><a href="/profile-details"><i class="fas fa-qrcode"></i>Datos personales</a></li>
                <li><a href="/profile-address"><i class="fas fa-link"></i>Dirección</a></li>
            </ul>
        </section>
        <section class="details">
            <h2>Dirección</h2>
            <form>
                <label>Provincia
                    <select id="provincia" name="provincia">
                        {% for provincia in data.provincias %}
                            <option id="{{ provincia.id }}">{{ provincia.nombre }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label>Ciudad
                    <select id="ciudad"  name="ciudad">
                    </select>
                </label>
                <label>Calle
                    <input name="calle">
                </label>
                <label>Número
                    <input name="numero">
                </label>
                <label>Departamento
                    <input name="departamento">
                </label>
                <button type="submit">Guardar</button>
            </form>
        </section>
    </section>
{% endblock %}