{% extends "parts/commons.twig" %}

{% block head %}
    <script src="https://www.mercadopago.com/v2/security.js" view="item"></script>
    <link rel="stylesheet" type="text/css" href="css/carrito.css" />
    <script src="/js/scripts/carrito.js" ></script>
{% endblock %}

{% block main %}

  <section> 
    {% if data %}

        <h2>Login {{attribute(data,"usuario")}}</h2>
      {% endif %}
        <form method="post" action="/registrarse">
            <label for="username">Usuario:</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password" required>
            <label for="re-password">Reingresar contraseña:</label>
            <input type="password" name="re-password" id="re-password" required>
            <label for="mail">Mail:</label>
            <input type="text" name="mail" id="mail">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre">
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido">
            <button type="submit">Registrarse</button>
        </form>
        <a href="/login">Login</a>
    </section>
    
{% endblock %}


