{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/error.css" />
{% endblock %}

{% block main %}
	<section >
        <h2>500 - Internal Server Error</h2>
        <img src="img/error-server.png">
    </section>

{% endblock %}