.PAW-Menu {
	color: white;
	width: 100%;
	overflow: hidden;
}

.PAW-Menu.PAW-MenuCerrado {
	width: 100%;
	height: 0;
	transition-duration: 0s;
	transition-property: height;
}

.PAW-Menu.PAW-MenuCerrado ul {
	opacity: 0;
	transition: 1s all;
	transform-style: flat;
}

.PAW-Menu.PAW-MenuAbierto {
	width: 100%;
	height: auto;
	transition-duration: 1s;
	transition-property: height;
}
.PAW-Menu.PAW-MenuAbierto ul {
	opacity: 1;
	transition: 1s all;
	padding-left: 0px;
}

.PAW-Menu ul {
	padding-left: 2rem;
	cursor: pointer;
	clear: both;
}

.PAW-Menu ul li ul {
	max-height: 0;
	overflow: hidden;
	transition: 1s all;
}

.PAW-Menu ul li:hover ul {
	max-height: 100vh;
	transition: 1s all;
}

.PAW-Menu ul li {
	display: block;
	padding: 0.5rem;
	margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.PAW-Menu p {
	display: block;
	padding: 0.5rem;
	border-bottom: 2px solid black;
}

.PAW-Menu > ul > li:hover {
	border: black solid 3px;
	border-width: 3px 0;
}

.PAW-Menu > ul > li {
	background-color: #6E7BCF;
}

.PAW-Menu > ul > li> ul > li:hover {
	border: black solid 3px;
	background: #212D63;
}


header button.PAW-Button-Menu {
	float: right;
	border: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	position: relative;
	overflow: hidden;
}

header button.PAW-Button-Menu:hover,
header button.PAW-Button-Menu:focus {
	margin-left: 0;
}

header button.PAW-Button-Menu::before,
header button.PAW-Button-Menu::after {
	display: block;
	position: absolute;
	content: " ";
	width: 2rem;
	height: 0.2rem;
	background-color: white;
	transition-property: all;
	transition-duration: 1s;
	border-radius: 0.2rem;
}

header button.PAW-MenuAbrir::before {
	transform: translateY(-1rem) rotate(0);
	box-shadow: 0 0.6rem 0 white;
}

header button.PAW-MenuAbrir::after {
	transform: translateY(0.2rem) rotate(0);
}

header button.PAW-MenuCerrar::before {
	transform: translateY(0) rotate(45deg);
	box-shadow: 0 0.6rem 0 transparent;
}

header button.PAW-MenuCerrar::after {
	transform: translateY(0) rotate(-45deg);
}

form{
	margin: 1% 10%;
}

h1{
	text-align: center;
	font-size: xxx-large;
	color: black;
}

.inicioSesion{
	margin-bottom: 3%;
    display: block;
    margin-inline: auto;
    font-size: large;
} 

.botonInicioSesion{
	display: block;
    margin-inline: auto;
    font-size: large;
    /*width: -webkit-fill-available;*/
}

.financiaro{
	display: flex;
	padding: 2%;
	border: 15px solid #212D63;
	border-radius: 10px;
}

.pagos{
	color: black;
	display: block;
	margin: auto;
	text-align: center;
}

#iconosPagos{
	display: inline;
	height: 3vw;
	width: 3vw;
	top: 1vw;
	position: relative;
}

.ventana{
	color: black;
	width: 50%;
	font-size: large;
	text-align: center;
	padding: 2%;
	min-height: 20%;
	border-radius: 22px;
	position: absolute;
	left: 25%;
	top: 15%;
	background-color: aliceblue;
	z-index: 1000;
	display: none;
	text-transform: capitalize
}

#cerrar{
	position: absolute;
	right: 3%;
	top:1%;

}
/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

form{
	margin: 1% 1%;
}

header button.PAW-Button-Menu {
    float: right;
    padding-top: 0.5%;
	display: block;
	margin-bottom: 0px;
    margin-top: 3%;
	margin-left: 2%;
}


.PAW-Menu ul li {
    padding: 0.1rem;
}

h1{
	font-size: inherit;
}

.pagos{
	font-size: small;
}

.financiaro{
	display: block;
	border: 9px solid #212D63;
}

#iconosPagos{
	height: 14vw;
	width: 13vw;
}
}