.PAW-Menu {
	color: white;
	width: 100%;
	overflow: hidden;
}

.PAW-Menu.PAW-MenuCerrado {
	width: 100%;
	height: 0;
	transition-duration: 0s;
	transition-property: height;
}

.PAW-Menu.PAW-MenuCerrado ul {
	opacity: 0;
	transition: 1s all;
	transform-style: flat;
}

.PAW-Menu.PAW-MenuAbierto {
	width: 100%;
	height: auto;
	transition-duration: 1s;
	transition-property: height;
}
.PAW-Menu.PAW-MenuAbierto ul {
	opacity: 1;
	transition: 1s all;
	padding-left: 0px;
}

.PAW-Menu ul {
	padding-left: 2rem;
	cursor: pointer;
	clear: both;
}

.PAW-Menu ul li ul {
	max-height: 0;
	overflow: hidden;
	transition: 1s all;
}

.PAW-Menu ul li:hover ul {
	max-height: 100vh;
	transition: 1s all;
}

.PAW-Menu ul li {
	display: block;
	padding: 0.5rem;
	margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.PAW-Menu p {
	display: block;
	padding: 0.5rem;
	border-bottom: 2px solid black;
}

.PAW-Menu > ul > li:hover {
	border: black solid 3px;
	border-width: 3px 0;
}

.PAW-Menu > ul > li {
	background-color: #6E7BCF;
}

.PAW-Menu > ul > li> ul > li:hover {
	border: black solid 3px;
	background: #212D63;
}


header button.PAW-Button-Menu {
	float: right;
	border: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	position: relative;
	overflow: hidden;
}

header button.PAW-Button-Menu:hover,
header button.PAW-Button-Menu:focus {
	margin-left: 0;
}

header button.PAW-Button-Menu::before,
header button.PAW-Button-Menu::after {
	display: block;
	position: absolute;
	content: " ";
	width: 2rem;
	height: 0.2rem;
	background-color: white;
	transition-property: all;
	transition-duration: 1s;
	border-radius: 0.2rem;
}

header button.PAW-MenuAbrir::before {
	transform: translateY(-1rem) rotate(0);
	box-shadow: 0 0.6rem 0 white;
}

header button.PAW-MenuAbrir::after {
	transform: translateY(0.2rem) rotate(0);
}

header button.PAW-MenuCerrar::before {
	transform: translateY(0) rotate(45deg);
	box-shadow: 0 0.6rem 0 transparent;
}

header button.PAW-MenuCerrar::after {
	transform: translateY(0) rotate(-45deg);
}

form{
	margin: 1% 10%;
}

h1{
	text-align: center;
	font-size: xxx-large;
	color: black;
}

.inicioSesion{
	margin-bottom: 3%;
    display: block;
    margin-inline: auto;
    font-size: large;
} 

.botonInicioSesion{
	display: block;
    margin-inline: auto;
    font-size: large;
    /*width: -webkit-fill-available;*/
}

.ventana{
    color: black;
    width: 50%;
    font-size: large;
    text-align: center;
    padding: 2%;
    min-height: 20%;
    border-radius: 22px;
	left: 25%;
	display: none;
	position: absolute;
	top: 15%;
	background-color: aliceblue;
	z-index: 1000;
	text-transform: inherit;
	border: 15px solid #212D63;
}

#iconosPagos{
    width: 15%;
}

.financiero{
	display: flex;
    padding: 2%;
    border: 15px solid #212D63;
    border-radius: 10px;
	margin: 1%;
}

#cerrar{
	float: right;
	width: 5%;
}

p{
color: black;
}

.Tpromo{
	text-transform: inherit;
	font-weight: bold;
	font-size: larger;
}

.Tpromociones{
	font-size: xx-large;
	font-weight: bold;
	text-decoration: underline;
}

div .pagos{
	display: block;
    margin: auto;
    text-align: center;
}
/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

form{
	margin: 1% 1%;
}

header button.PAW-Button-Menu {
    float: right;
    padding-top: 0.5%;
	display: block;
	margin-bottom: 0px;
    margin-top: 3%;
	margin-left: 2%;
}


.PAW-Menu ul li {
    padding: 0.1rem;
}

h1{
	font-size: inherit;
}

.financiero{
	display: inline-flex;
    padding: none;
	order: 5px solid #212D63;
    border-radius: 10px;
    margin: 1%;

}

div .pagos {
    font-size: small;
}

.Tpromociones {
    font-size: larger;
}

.Tpromo {
    font-size: medium;
}

p{
	font-size: small;
}

}