h1{
    text-align: center;
    margin:auto;
    font-size: xxx-large;
    background: #F97224;
    color: aliceblue;
    border: double;
    padding: 0.5%;
}

h2{
    font-size: inherit;
}

main>section>section {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

main>section>section>aside {
    flex-basis: 10%;
    position: relative;
}

main>section>section>section {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

aside>a {
    display: block;
    width: 100%;
    min-height: 1rem;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
}

aside>p {
    display: block;
    width: 100%;
    min-height: 1rem;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0px;
    background-color: #212D63;
}

.productos{
    display: inline-table;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 4%;
    margin-bottom: 4.5%;
    margin-right: 2%;
    margin-left: 3%;
    border: solid;
    width: 22%;
    height: 36%; 
    border-radius: 10px;
    color: black;
    background-color: transparent;
}

.agregar{
    margin: 5%;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 3%;
    color: #212D63;
    font-weight: bold;
}

.flecha-back {
    height: 2em;
    margin: inherit;
    position: absolute;
    border-radius: 10px;
}

.flecha-back:hover{
    cursor:pointer;
    box-shadow: 4px 10px 6px 0px rgba(50, 50, 50, 0.45);
    border: solid;
}

article{
    background-color: transparent;
}

.cuerpo{
    visibility: collapse;
    display:table-row;
}


/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

    .flecha-back {
        height: 1em;
        width: 1em;
    }


    h2{
        font-size:initial;
    }
    
    p {
        margin: 0px;
        padding-top: 2%;
        font-size: smaller;
        padding-bottom: 5%;
    }

    .agregar{
        font-size: medium;
    }
}