main>section>section {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

main>section>section>aside {
   
    flex-basis: 10%;
    position: relative;
}

main>section>section>section {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    background-color: lightgray;
}

aside>a {
    display: block;
    width: 100%;
    min-height: 1rem;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
}

aside>p {
    display: block;
    width: 100%;
    min-height: 1rem;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0px;
    background-color: #212D63;
}

.cuerpo{
    visibility: collapse;
}

.productos{
    display: inline-table;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 4%;
    margin-bottom: 2%;
    border: solid;
    width: 22%;
    height: 36%; 
    border-radius: 10px;
    color: black;
}

h2{
    font-size: inherit;
}

.agregar{
    margin: 5%;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 3%;
}

/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

    h2{
        font-size:initial;
    }
    
    p {
        margin: 0px;
        padding-top: 2%;
        font-size: smaller;
        padding-bottom: 5%;
    }

    .agregar{
        font-size: medium;
    }
}