h1 {
    text-align: center;
    font-size: xxx-large;
    background: rgba(228, 69, 69, 1);
    color: aliceblue;
}

h3{
    font-weight: normal;
    text-align: left;
}

p{
    display: inline-flex;
    text-align: end;
    font-size: x-large;
}

.flecha-back{ 
    height: 3vw;
    margin: inherit;
    position: fixed;
}

#flecha:hover{
    cursor: pointer;
    transform: transla;
    box-shadow: 4px 30px 6px 0px rgba(50, 50, 50, 0.45);
    border: dotted;  
    border: solid;
}

article{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: ridge;
    text-align: right;
}

/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

    h1{
        font-size:x-large;
    }
    
  
    
}