h1 {
    text-align: center;
    font-size: xxx-large;
    background: #212D63;
    color: aliceblue;
}


h2{
    font-size: larger;
    height: inherit;
}


h3{
    font-weight: normal;
    text-align: left;
}

p{
    display: inline-flex;
    text-align: end;
    font-size: x-large;
    font-style: oblique;
}

.flecha-back{ 
    height: 3vw;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    transform: transla;
    box-shadow: 4px 30px 6px 0px rgba(50, 50, 50, 0.45);
    border: dotted;  
    border: solid;
}

/*article{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: ridge;
    text-align: right;
}*/

article{
    display: inline-table;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 0px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 4%;
    border: solid;
    width: 22%;
    height: 36%; 
    border-radius: 10px;
}

#verMas{
    display: flex;
    height: inherit;
    position: absolute;
}

/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

h1{
    font-size: large;
}

h2 {
    font-size: larger;
    height: auto;
}

article{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: solid;
    text-align: right;
    display: block;
    width: auto;
    height: auto;
}

p{
    display: block;
}

}