.body{
    background-color: aliceblue;
}

h1 {
    background: #F97224;
    margin-top: auto;
    border: double;
}


h2{
    font-size: large;
    padding: 2%;
    height: 2.2em;
}


h3{
    font-weight: normal;
    text-align: left;
}

p{
    text-align: center;
    font-size: x-large;
    text-transform: lowercase;
}

section{
    color: black;
}

.flecha-back{ 
    height: 3vw;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    /*transform: transla;*/
    box-shadow: 4px 10px 6px 1px rgba(50, 50, 50, 0.45);
    /*border: dotted;*/
    border: solid;
    color: black;
    border-radius: 10px;
}

/*article{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: ridge;
    text-align: right;
}*/

article{
    float: left;
    text-align: center;
    align-items: center;
    padding: 1%;
    margin-right: 1%;
    margin-left: 4%;
    border: solid;
    width: 22%;
    height: 36%; 
    border-radius: 10px;
}

#verMas{
    display: flex;
    height: auto;
    /*position: absolute;*/
}
.agregar {
    margin: 5%;
    text-decoration: none;
    border: solid;
    border: double;
    border-radius: 10px;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 2%;
    display: block;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: "Roboto-Light" !important;
    border-radius: 10px;
    color: aliceblue;
    background: #212D63;
}

.agregar:hover{
    background-color: #F97224;
    color: black;
    border: solid;
}

.cuerpo{
    visibility: collapse;
    display:table-column;
}

.noEncontrado{
    text-align: center;
    font-size: xxx-large;
    display: block;
    color: black;
    margin: 5%;
}

.imagenes{
    width: auto;
    height: 7em;
    padding: 1%;
}

/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

h1{
    font-size: large;
}

h2 {
    font-size: large;
    height: auto;
}

article{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: solid;
    /* display: contents; */
    height: auto;
    float: left;
    width: 90%;
}

p{
    display: block;
}

.agregar{
    font-size: smaller;
}

.imagenes{
    height: 4em;
}

 #verMas{
    display: table;
    font-size: medium;

}
}