.body{
    background-color: aliceblue;
}

h1 {
    background: #F97224;
    margin-top: auto;
    border: double;
}


h2{
    font-size: large;
    height: 2.3em;
}


h3{
    font-weight: normal;
    text-align: left;
}

p{
    display: inline-flex;
    text-align: left;
    font-size: smaller;
    font-style: inherit;
    margin: auto;
    height: 15%;
    margin-bottom: 12%;
}

section{
    color: black;
}

.flecha-back{ 
    height: 3vw;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    /*transform: transla;*/
    box-shadow: 4px 10px 6px 1px rgba(50, 50, 50, 0.45);
    /*border: dotted;*/
    border: solid;
    color: black;
    border-radius: 10px;
}

/*article{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: ridge;
    text-align: right;
}*/

article{
    display: inline-table;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 4%;
    margin-bottom: 2%;
    border: solid;
    width: 22%;
    height: 36%; 
    border-radius: 10px;
}

#verMas{
    display: flex;
    height: auto;
    /*position: absolute;*/
}
.agregar {
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 2%;
    color: #212D63;
    display: block;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}

.cuerpo{
    visibility: collapse;
    display:table-column;
}

.noEncontrado{
    text-align: center;
    font-size: xxx-large;
    display: block;
    color: black;
    margin: 5%;
}

.imagenes{
    height: 15vw;
    width: 15vw;
}

.hidden {
    visibility: hidden;
    height: 0;
    width: 0;
}

figure {
    display: flex;
}

.antes{
    text-decoration:line-through;
    color: red;
    text-align: center;
    width: max-content;
    margin-bottom: 0px;
}

.nombre-producto {
    overflow: hidden;
}

.button-section {
    text-align: center;
    padding-bottom: 3rem;
}

.button-section button {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
    box-shadow: -3px -3px 7px #f5f5f5, 3px 3px 7px #bbc3cc;
    border-radius: 10px;
}
.button-section button:active {
    box-shadow: -3px -3px 7px #f5f5f5 inset, 3px 3px 7px #bbc3cc inset;
    font-size: 16px;
    user-select: none;
}

.section1 {
    padding-bottom: 1rem;
}

/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

    h1{
        font-size: large;
    }

    h2 {
        /*font-size: inherit;*/
        height: auto;
        display: block;
    }

    article{
        margin: 2%;
        padding: 2%;
        border-radius: 10px;
        border: solid;
        text-align: right;
        display: block;
        width: auto;
        height: auto;
    }

    p{
        display: block;
        font-size: large;
    }

    .agregar{
        font-size: smaller;
    }

    .imagenes{
        float: left;
    }

    #verMas{
        display: block;
        margin: inherit;
    }
}