/*section {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}*/

h1 {
    background: #F97224;
    margin-top: auto;
    border: double;
}

section>a {
    position: absolute;
}

.btn-cancelar {
    left: 0;
    width: 15%;
    height: 50px;
    margin-left: 5%;
}

.btn-pagar {
    right: 0;
    width: 10%;
    height: 150px;
    margin-right: 5%;
}

.cuerpo{
    visibility: collapse;
}


h2{
    font-size: larger;
    height: inherit;
    color: black;
    margin: auto;
}


h3{
    font-weight: normal;
    text-align: left;
}

.productos {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 0px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 4%;
    margin-bottom: 2%;
    border: solid;
    border-radius: 10px;
    color: black;
    display: inherit;
}

.imgArticulo{
    width: auto;
    position: initial;
}

.button-delete {
    display: block;
    margin-bottom: 2%;
    margin-left: auto;
    font-weight: bold;
    background-color: #F97224;
    border-radius: 1vh;
}

.button-delete:hover {
    cursor:pointer;
    background-color: chocolate;
}

.carritoVacio{
    font-size: xxx-large;
    display: block;
    color: black;
    margin-left: 4%;
    margin-top: 6%;
}


.seguirCompra{
    font-size: large;
    color: black;
    margin-left: 4%;
    font-size: larger;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.inicio{
    color: black;
    position: initial;
    margin: 4%;
    display: inline-table;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    font-size: x-large;
    border: solid;
    font-family: "Roboto-Light" !important;
    border-radius: 10px;
    width: 22%;
    /*text-transform: capitalize;*/
    color: aliceblue;
    background: #F97224;;
    text-decoration: none;
}

.inicio:hover{
    cursor: pointer;
    transform: transla;
    box-shadow: 4px 10px 6px 0px rgba(50, 50, 50, 0.45);
    border: dotted;  
    border: solid;
}

.flecha-back{
    height: 3vw;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    /*transform: transla;*/
    box-shadow: 4px 10px 6px 1px rgba(50, 50, 50, 0.45);
    /*border: dotted;*/
    border: solid;
    color: black;
    border-radius: 10px;
}

p{
    margin: auto;
}

.cuerpo{
    visibility: collapse;
    display:table-column;
}

.total{
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    padding: 2vh;
}

.Precio_producto{
    margin-top: 1%;
}

footer{
    display: block;
    position: relative;
    background: #212D63;

}
/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

h2{
    font-size: smaller;
}

    .flecha-back {
    height: 1em;
    width: 1em;
}

.btn-cancelar {
    font-size: inherit;
    position: inherit;
    display: inline-block;

}

.carritoVacio{
    font-size: inherit;
}

.btn-pagar {
    right: 0;
    margin-right: 5%;
    width: auto;
}

.seguirCompra{
    font-size: inherit;
}

.productos{
    display: block;
}

.Precio_producto{
    display: block;
    font-size: large;
}

.button-delete {
    width: -webkit-fill-available;
    margin-top: 3%;
}

.total{
    font-size: large;
}
.Cantidad_unidades{
    font-size: large;
}


}