section {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

article {
    flex-shrink: 0;
    flex-basis: 45%;
}

section>a {
    position: absolute;
}

.btn-cancelar {
    left: 0;
    width: 10%;
    height: 50px;
}

.btn-pagar {
    right: 0;
    width: 10%;
    height: 50px;
}

