h1, .footer{
    text-align: center;
    margin:auto;
    font-size: xxx-large;
    background: #F97224;
    color: aliceblue;
    border: double;
    padding: 0.5%;
}


body{
    background-color: rgb(234, 242, 242);
}


.flecha-back{ 
    height: 2em;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    transform: transla;
    box-shadow: 4px 30px 6px 0px rgba(50, 50, 50, 0.45);
    border: dotted;  
    border: solid;
}


.cuerpo{
    visibility: collapse;
}

.footer{
    font-size: larger;
    color: black;
    margin-top: 1%;
}

section{
    color: black;
}

.camion, .tienda{
    width: 50px;
  
}

p{
    margin: auto;
}

article{
    display: inline-table;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 0px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 4%;
    border: solid;
    width: 22%;
    height: 36%; 
    border-radius: 10px;
    color: black;
}

main{
    color: black;
}

/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

.detalle{
    font-size: larger;
}


.flecha-back{ 
    height: 1em;
}

}