h1, .footer, .footer1{
    text-align: center;
    margin:auto;
    font-size: xxx-large;
    background: #F97224;
    color: aliceblue;
    border: double;
    padding: 0.5%;
}


body{
    background-color: rgb(234, 242, 242);
    display: block;
}

.flecha-back{ 
    height: 2em;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    box-shadow: 4px 30px 6px 0px rgba(50, 50, 50, 0.45);
    border: solid;
    border-color: black;
}

.footer, .footer1{
    font-size: medium;
    color: black;
    margin-top: 1%;
}


section {
    color: black;
    margin-top: 4%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.camion, .tienda{
    width: 3%;
}

.nombre{
    margin-top: 2%;
    font-weight: bold;
    text-align: center;
    font-size: xx-large
}


.descripTitulo, .precio{
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.precio{
    font-size: xx-large;
}

.descripcion{
    margin-left: 2%;
}

.imgproducto{
    float: left;
    margin-left: 5%;
    margin-right: 3%;
    margin-bottom: 3%;
    border: dashed;
    height: 17em;
    width: 17em;
}

section section section picture img {
    float: left;
    margin-left: 5%;
    margin-right: 3%;
    border: dashed;
    height: 3.4em;
    width: 3.4em;
}

section section section picture img:hover {
    transform: scale(1.5);
}

picture{
    height: max-content;
}

.image-section {
    display: grid;
}

.product-details {
    display: flex;
}

article{
    display: inline-table;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 0px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 4%;
    border: solid;
    width: 22%;
    height: 36%; 
    border-radius: 10px;
    color: black;
}

main{
    color: black;
}


.cuerpo{
    visibility: collapse;
}

.detalleDescrip {
    display: inline;
    margin-left: 5%;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.agregar {
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    padding: 1% 6% 2%;
    color: #212D63;
    display: block;
    text-align: center;
    font-size: larger;
    cursor: pointer;
    position: relative;
    margin-top: 2%;
}


.img-zoom-lens {
    position: absolute;
    width: 20px;
    height: 20px;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 30%;
    height: 35%;
    display: block;
  }


/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

    .detalle{
        font-size: larger;
    }

    .flecha-back{
        height: 1em;
    }

    .footer, .footer1{
        font-size: 50%;
    }

    .imgproducto{
        width: 54%;
        height: 33%;
        display: block;
        position: relative;
    }

    .nombre{
        font-size: x-large;
    }

    .descripcion, .zoom{
        text-align: justify;
        font-size: x-large;
        margin: 2%;
    }

    .descripTitulo, .precio{
        font-size: x-large;
        margin: inherit;
    }

    .camion, .tienda{
        width: 8%;
    }

    .agregar{
        font-size: smaller;
        display: block;
        position: relative;
        margin: 2%;
    }

    .product-details {
        display: contents;
    }

    .detalleDescrip{
        margin: 2%;
    }

    #myresult, .zoom {
        display: none;
    }

}