h1{
    color: #212D63;
    font-family: "Roboto-Light" !important;
    position: absolute;
    font-size: 4em;
    margin-left: 7%;
    margin-top: 7%;
    display: contents;
}



h2{
    font-size: xxx-large;
    margin-left: 7%;
    margin-bottom: 0px;
}

p{
    font-size: larger;
    margin-top: 1%;
    margin-left: 7%;
}

img{
    background-repeat: no-repeat;
    height: 40%;
    float: right;
    margin-right: 15%;

}

section{
    padding-top: 3%;
    padding-left: 6%;
}

body{
    background-color: rgb(234, 242, 242);
    height: 100%;
    margin-left: 1%;
    margin-top: 0px;
    margin-right: 1%;
    margin-bottom: 0px;
}

.inicio {
    padding: 2%;
    font-size: x-large;
    border: solid;
    font-family: "Roboto-Light" !important;
    border-radius: 10px;
    color: aliceblue;
    background: #212D63;
    text-decoration: none;
    position: absolute;
    margin: 4%;
}

.telefonos{
    font-size: xx-large;
    margin: 0px;
    text-decoration: underline;
}

.numeros{
    display: list-item;
    font-size: larger;
}

/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){
img{
   width: auto;
   height: 25%;
   float: left;
   margin: 0px;
}

section {
    display: contents;
    padding-top: 5%;
    padding-left: 6%;
}

.numeros{
   display: block;
}

.inicio{
    text-align: center;
}

}
