:root {
    --font-size: 10 px;
    --header-color: linear-gradient(#ffffff, #B7DCE8);
    --header-widh: 20vh;
    --logo-size: 15vh;
    --logo-size-movile: 7vh;
    --navegation-color: #212D63;
    --navegation-widh: 10vh;
    --button-font-size: 1.5vw;
    --base-color: #2A497E;
    --base-color-title:#000000;
    --button-sucess-color: #7FFFD4FF;
    --input-color: #2A497E;
    --input-fonder-color: #ffffff;
    font-size: 20px;
    	/*Variables PAW */
	--paw-verde-oscuro: #1d6625;
	--paw-verde-medio-oscuro: #3f8434;
	--paw-verde-medio-claro: #65af26;
	--paw-verde-claro: #84bf51;
	--paw-amarillo: #fbc808;
	--paw-amarillo-oscuro: orange;
	--paw-rojo:#2A497EF;
    --paw-rojo-secundario: #2A497E;
}

body {
    padding: 0;
    margin: 0;    
    font-family:"Roboto-Light" !important;
    color:aliceblue;
}

body>header>h1 {
    position: absolute;
    bottom: 0;
    left: 12vh;
    padding: 0;
}

body>header>a {
    display: inline-block;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 50%;
    position: absolute;
}

body>header>address {
    position: absolute;
    right: 5vw;
    top: 0;
    color: #086D84;
}

body>main {
    position: relative;
    left: 0;
    width: 100%;
    height: 100vh - var(--header-widh);
    overflow: hidden;
}

body>footer {
    position: inherit;
    /*margin-top: 40%;*/
    background-color: #212D63;
    width: 100%;
    /*height: 10vh;*/
}


header>nav {
    background-color: var(--navegation-color);
    width: 100%;
    height: var(--navegation-widh);
    overflow: hidden;
    padding: 0;
    top: 0;
    right: 0;
    z-index: 9500;
    position: relative;
}
header>nav>ul {
    list-style: none;
}

header>nav>ul>li {
    display: inline;
    text-align: center;
}

header>nav a {
    text-decoration: none;
    border: none;
    font-size: var(--button-font-size);
    padding: 2vh;
    padding-inline: 1vw;
    color: #ffffff;
    padding-bottom: 1%;
}


.sub-menu-turno {
    position: absolute;
    height: 100%;
    width: 40%;
    right: 5vw;
    font-size: 0;
}

.sub-menu-turno>ul>li {
    display: inline;
}

.sub-menu-turno>ul {
    list-style: none;
    position: absolute;
    /*width: 50vw;*/
    top: 0;
}
iframe{
    height: 100%;
    width: 100%;
}


.nombrePagina{
    font-size: xxx-large;
    text-transform: capitalize;
}

.buscadorMenu{
    width: 30vw;
    margin: initial;
    font-size: x-large;
    padding-left: 5px;
    font-family: serif;
}

.lupa{
    width: 1rem;
    height: 1rem;
}
/* .site-nav-open{
    display: block;
} */

/*Icono carrito*/

.icon-cart {

	position: relative;
	overflow: hidden;
	margin-left: 25px;
	margin-bottom: 25px;
	background: none;
	border: none;
	padding-top: 0.5%;
	margin: 0;
    float: right;
}
.icon-cart .cart-line-1 {
	width: 15%;
	height: 7%;
	position: absolute;
	left: 8%;
	top: 25%;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg); 
	background-color: #000;
	border-bottom-left-radius: 35%;
}
.icon-cart .cart-line-2 {
	width: 35%;
	height: 7%;
	position: absolute;
	left: 6%;
	top: 40%;
	-webkit-transform: rotate(80deg);
	-moz-transform: rotate(80deg);
	-ms-transform: rotate(80deg);
	transform: rotate(80deg); 
	background-color: #000;
}
  
  
.icon-cart .cart-line-2:before {
	content: "";
	width: 120%;
	height: 100%;
	position: absolute;
	left: 45%;
	top: -280%;
	-webkit-transform: rotate(-80deg);
	-moz-transform: rotate(-80deg);
	-ms-transform: rotate(-80deg);
	transform: rotate(-80deg); 
	background-color: inherit;
}
  
.icon-cart .cart-line-2:after {
    content: "";
	width: 70%;
	height: 100%;
	position: absolute;
	left: 59%;
	top: -670%;
	background-color: inherit;
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transform: rotate(40deg); 
	border-top-left-radius: 50%;
	border-bottom-left-radius: 25%;
}
.icon-cart .cart-line-3 {
	width: 30%;
	height: 7%;
	position: absolute;
	left: 33%;
	top: 45%;
	background-color: #000;
}
  
.icon-cart .cart-line-3:after {
	content: "";
	width: 124%;
	height: 100%;
	position: absolute;
	top: -150%;
	left: -5%;
	background-color: inherit;
}
.icon-cart .cart-wheel {
	width: 12%;
	height: 12%;
	background-color: #000;
	border-radius: 100%;
	position: absolute;
	left: 28%;
	bottom: 20%;
}
  
.icon-cart .cart-wheel:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 100%;
    position: absolute;
    left: 200%;
    bottom: 0;
}

#logo{
    height: 3vw;
    width: 3vw;
    top: 1vw;
}


/*-----------------------------------------------------*/

    :root{
        --button-font-size: 15px;
    }  

    body {
        position: relative;
    }
    body>header>nav>ul>li>a{
        font-size: large;
    }


    body>header {
        width: 100%;
        background: #212D63;
        height: var(--navegation-widh);
        position: inherit;
        padding-top: 1%;
        padding-bottom: 3%;
    }

    body>header>a {
        background-size: var(--logo-size-movile)var(--logo-size-movile);
        width: var(--logo-size-movile);
        height: var(--logo-size-movile);
    }

    body>header>address {
        font-size: 0;
    } 
    header>form{
        position: absolute;
        margin-left: 0.5em;
        height: 1.8em;
        margin-top: 0px;
    }
    header>form>label>input{
        height: 1.8em;
    }
    header>form>button{
        height: 2.5em;
        width: 4em;
    }

    header>form>button:hover{
        cursor: pointer;
        /*transform: transla;*/
        box-shadow: 4px 10px 6px 0px rgb(223, 220, 220);
    }

    /*---------------------IMAGENES DE PORTADA-----------------*/
#progress-bar-container{
	position: absolute;
	height: 1%;
	background-color: rgba(0, 0, 0, 2);
	width: 100%;
}

#progress-bar{
	height: 100%;
	background-color:#F97224;
	transition: width 0.8s;
}

#slideshow{
	position: relative;
	z-index: 998;
	height: 500px;
}


.imgportada{
	position: absolute;
	height: inherit;
	width:-webkit-fill-available;
	top: 0;
	left: 0;
	object-fit: fill;
}

#img2{
	/*left: 100%;*/
	opacity: 0;
}


.active{
	/*left: 0 !important;*/
	opacity: 1 !important;
    /*transition: all 1s;*/
    z-index: 2000;
} 


#indicadores{
	width: 100%;
	text-align: center;
	bottom: 10%;
	z-index: 999;
    background-color: #F97224;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: ridge;
    border-bottom: ridge;
}

.circles{
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 1% 0 1%;
	background-color: transparent;
	border-radius: 50%;
}


.resaltado{
	background-color: black;
	transition: background-color .8s;
	border: white 2px solid;
}


.informacion{
    margin: 0 auto;
    font-family: "Roboto-Light" !important;
    display: flex;
    text-decoration-style: dashed;
    text-align: center;
    place-content: space-evenly;  
    font-size: smaller;
    flex-direction: column;
}

.columnas{
    background-color: #F97224;
    color: black;
    border: 1px solid black;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 20px 20px 2px 2px rgb(204 204 204);
}


.columnas h3{
    font-size: 20px;
	display: block;
	text-transform: capitalize;
}


#iconosPortada{
    display: inline;
    height: 3vw;
    width: 3vw;
    top: 1vw;
	position: relative;
}

.redes{
    display: inline-block;
    margin: inherit;
}

.InicioSesion{
    color: aliceblue;
    margin-top: 4em;
    margin-left: 1em;
    font-size: initial;
    float: right;
    width: max-content;
}

.usuario{
    color: aliceblue;
    margin-top: 4em;
    margin-left: 1em;
    font-size: initial;
    /* float: right; */
    width: max-content;
    display: inline-block;
}




/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){
    
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto-Light" !important;
    font-size: x-large;
    display: grid;
}

header>form {
    margin-top: 1.5%;
    display: contents;
}

header>form>button{
    height: 1.5em;
    width: 1.5em;
    padding: 0px;
}



body>header {
    width: 100%;
    background: #212D63;
    position: inherit;
    display: block;
    z-index: 99999;
    padding-bottom: 4vh;
    padding-top: 2%;
}

body>footer {
    position: relative;
    margin-top: auto;
}

/*---------------------IMAGENES DE PORTADA-----------------*/
#progress-bar-container{
	position: absolute;
	height: 1%;
	background-color: rgba(0, 0, 0, 2);
	width: 100%;
	top:0;
	z-index: 900;
}

#progress-bar{
	height: 100%;
	background-color: #212D63;
	transition: width 0.8s;
}

#slideshow{
	position: relative;
	z-index: 998;
	height: 42vw;
}


.imgportada{
	position: absolute;
	top: 0;
	left: 0;
	object-fit: fill;
    height: auto;
}

#img2{
	/*left: 100%;*/
	opacity: 0;
}


.active{
	/*left: 0 !important;*/
	opacity: 1 !important;
    /*transition: all 1s;*/
    z-index: 2000;
} 


#indicadores{
	width: 100%;
	text-align: center;
	bottom: 10%;
	z-index: 999;
    background-color: #F97224;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: ridge;
    border-bottom: ridge;
    position: relative;
}

.circles{
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 1% 0 1%;
	background-color: transparent;
	border-radius: 50%;
}


.resaltado{
	background-color: black;
	transition: background-color .8s;
	border: white 2px solid;
}


.informacion{
    margin: 0 auto;
    font-family: "Roboto-Light" !important;
    display: inherit;
    text-decoration-style: dashed;
    text-align: center;
    place-content: space-evenly;  
    font-size: smaller;
}

.columnas{
    background-color: #F97224;
    color: black;
    border: 1px solid black;
    margin-left: 2%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: none;
    display: block;
}


.columnas h3{
    font-size: 20px;
	display: block;
	text-transform: capitalize;
}


#iconosPortada{
    display: inline;
    height: 1em;
    width: 1em;
    top: 1vw;
	position: relative;
    margin-right: 3%;
    margin-left: 5%;
}

.redes{
    display: inline-table;
    text-align: left;
}

p{
    margin: 0px;
    padding-top: 2%;
}

h3{
    margin: 0 auto;
}

.icon-cart {
    float: left;
    margin-left: 1%;
    padding-top: 0.5%;
    height: 1.2em;
    width: 1.2em;
}


label{
    font-size: medium;
}

.buscadorMenu {
    width: 35vw;
    margin: initial;
    font-size: small;
}

.nombrePagina {
    font-size: smaller;
    text-transform: capitalize;
}

.usuario {
    display: block;
    color: aliceblue;
    margin-top: 2em;
    margin-left: 1em;
    font-size: medium;
    float: right;
}

.InicioSesion {
    color: aliceblue;
    margin-top: 2.5em;
    margin-left: 0.5em;
    font-size: initial;
    /* float: right; */
    /* width: max-content; */
    display: grid;
}

#logo{
    height: 15px;
    width:15px;
}

.lupa {
   width: 1em;
   height: 1em;
    padding-right: 0px;
    padding-left: 0px;
}
}