.cuerpo {
    visibility: collapse;
}

h1 {
    background: #F97224;
    margin-top: auto;
    border: double;
}


h2 {
    font-size: xx-large;
    height: inherit;
    color: black;
    margin: auto;
    text-align: center;
    padding: 50px;
}

section > article {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 4%;
    margin-bottom: 2%;
    border: solid;
    border-radius: 10px;
    color: black;
    display: -webkit-box;
}

section > article > button {
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    font-weight: bold;
    background-color: #F97224;
    border-radius: 10px;
}

section > article > p {
    padding: 15px;
}

.sin-productos {
    font-size: xxx-large;
    display: block;
    color: black;
    margin-left: 4%;
    margin-top: 6%;
    text-align: center;
}


body>main {
    position: relative;
    left: 0;
}

.flecha-back{
    height: 3vw;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    /*transform: transla;*/
    box-shadow: 4px 10px 6px 1px rgba(50, 50, 50, 0.45);
    /*border: dotted;*/
    border: solid;
    color: black;
    border-radius: 10px;
}


/*-------------------RESPONSIVE---------------------*/
@media (max-width: 1000px) {

    .sin-productos {
        font-size: inherit;
    }

    section > article {
        display: block;
        position: relative;
    }

    section > article > button {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 150px;
        height: 5vh;
        margin-left: auto;
        font-weight: bold;
        background-color: #F97224;
        border-radius: 10px;
    }

}