.body{
    background-color: aliceblue;
}

h1 {
    background: #F97224;
    margin-top: auto;
    border: double;
}

.flecha-back{
    height: 3vw;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    /*transform: transla;*/
    box-shadow: 4px 10px 6px 1px rgba(50, 50, 50, 0.45);
    /*border: dotted;*/
    border: solid;
    color: aliceblue;
    border-radius: 10px;
}

/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px) {


}