h1{
    text-align: center;
    margin:auto;
    font-size: xxx-large;
    background: #F97224;
    color: aliceblue;
    border: double;
    padding: 0.5%;
}

h2{
    font-size: larger;
    height: inherit;
}


h3{
    font-weight: normal;
    text-align: left;
}

p{
    display: inline-flex;
    text-align: center;
    font-size: inherit;
    font-style: oblique;
    width: max-content;
}

body{
    background-color: rgb(234, 242, 242);
}


.flecha-back{ 
    height: 2em;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    /*transform: transla;*/
    box-shadow: 4px 30px 6px 0px rgba(50, 50, 50, 0.45);
    border: dotted;  
    border: solid;
}

span{
    text-align: center;
    font-size: xxx-large;
    display: block;
    color: black;
    margin: 5%;
}


article{
    display: inline-table;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 0px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    margin-left: 4%;
    margin-top: 3%;
    border: solid;
    width: 22%;
    height: 17vh; 
    border-radius: 10px;
    color: black;
    background-color: transparent;
}

#verMas{
    display: flex;
    height: auto;
}

.antes{
    text-decoration:line-through;
    color: red;
    text-align: center;
    width: max-content;
    margin-bottom: 0px;
}

.agregar {
    margin: 5%;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 2%;
    color: #212D63;
    display: block;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.imagen{
    display: block;
    position: inherit;
    margin: auto;
    padding-top: 1em;
}

.cuerpo{
    visibility: collapse;
    display:table-row;
}

/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

.flecha-back {
    height: 1em;
}

h2{
    font-size: large;
    text-align: center;
}

span{
    font-size: inherit;
}

article{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: solid;
    text-align: -webkit-center;
    display: block;
    width: auto;
    height: auto;
    background-color: transparent;
}

p{
    display: block;
    font-size: large;
    text-align: center;
}

#verMas{
   margin-top: inherit;
    font-size: large;
}

.agregar, .antes{
    font-size: large;

}



}
