.cuerpo {
    visibility: collapse;
}


h2 {
    font-size: xx-large;
    height: inherit;
    color: black;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.payment-section > img {
    width: 20vw;
    padding: 2vw;
}

.payment-section > article > p {
    padding: 15px;
}


.payment-section  {
    text-align: center;
}

body > footer {
    /*margin-top: 28.7%;*/
}


