h1 {
    background: #F97224;
    margin-top: auto;
    border: double;
    margin-bottom: 0;
}

.slide-bar {
    background-color: #1d6625;
}

.details {
    background-color: #1d6625;
}

.details form {
    display: grid;
    align-items: baseline;
    position: relative;
    text-align: left;
    align-self: normal;
    margin-bottom: 5%;

}

.details form label {
    padding: 1rem;
    width: 100%;
    display: flex;
}

.details form label input, .details form label select {
    margin-left: auto;
    width: 35%;
    display: block;
    position: relative;
}

.details form button {
    border: solid;
    border-radius: 10px;
    width: 35%;
    padding: 1% 7% 2%;
    color: #212D63;
    text-align: center;
    font-size: larger;
    cursor: pointer;

    margin-left:auto;
    display: block;
    margin-right: auto;
}

.details-list ul li {
    display: flex;
    position: relative;
}

.details-list ul button {
    text-decoration: none;
    border: solid;
    border-radius: 5px;
    padding: 1% 1% 1%;
    color: #212D63;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 30%;
}

.details-list ul li p {
    width: 70%;
}

.details-list ul small {
    padding: 1% 7% 2%;
    color: #212D63;
    display: block;
}

.flecha-back{
    height: 3vw;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    /*transform: transla;*/
    box-shadow: 4px 10px 6px 1px rgba(50, 50, 50, 0.45);
    /*border: dotted;*/
    border: solid;
    color: black;
    border-radius: 10px;
}

footer{
    display: none;
}


/*-------------------RESPONSIVE---------------------*/

@media (max-width: 768px){

    .details form {
        margin: 1% 1%;
        display: block;
    }

    .details form button {
        border-radius: 5px;
        font-size: initial;
        margin-top: 1em;
        margin-left: 5%;
        width: 75%;
    }

    .details-list ul button {
        margin-right: 2rem;
    }

    .details-list p {
        display: block;
    }

    div{
        display: grid;
        margin-left: 5%;
    }


    .details form label {
        display: contents;
    }

    .details form label input, .details form label select {
        margin-left: initial;
        width: 75%;
    }

    small{
        margin-top: 2%;
    }

    .details-list ul li p {
        width: 50%;
        display: block;
    }

}