h1 {
    background: #F97224;
    margin-top: auto;
    border: double;
    margin-bottom: 0;
}

.slide-bar {
    background-color: #1d6625;
}

.details {
    background-color: #1d6625;
}

.details form {
    display: grid;
    align-items: baseline;
    position: relative;
    text-align: left;
    align-self: normal;

}

.details form label {
    padding: 1rem;
    width: 100%;
    display: flex;
}

.details form label input, .details form label select {
    margin-left: 5rem;
    width: 10rem;
}

.details form button {
    border: solid;
    border-radius: 10px;
    width: 15vw;
    padding: 1% 7% 2%;
   /* margin: 5vw;*/
    color: #212D63;
    text-align: center;
    font-size: larger;
    cursor: pointer;

    margin-left:auto;
    display: block;
    margin-right: auto;
}

.details-list ul li {
    display: flex;
    position: relative;
}

.details-list ul button {
    text-decoration: none;
    border: solid;
    border-radius: 5px;
    padding: 1% 7% 2%;
    color: #212D63;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 30%;
}

.details-list ul li p {
    width: 70%;
}

.details-list ul small {
    padding: 1% 7% 2%;
    color: #212D63;
    display: block;
}

.flecha-back{
    height: 3vw;
    margin: inherit;
    position: absolute;
}

#flecha:hover{
    cursor: pointer;
    /*transform: transla;*/
    box-shadow: 4px 10px 6px 1px rgba(50, 50, 50, 0.45);
    /*border: dotted;*/
    border: solid;
    color: black;
    border-radius: 10px;
}


@media (max-width: 1500px) {

    .details form label input, .details form label select {
        margin-left: 2.5rem;
        width: 10rem;
    }

    .details small {
        width: 40vh;
    }
    
}


@media (max-width: 950px) {

    .details form {
        margin: 1% 1%;
    }

    .details form button {
        border: solid;
        border-radius: 10px;
        width: 7vw;
        padding: 1% 14% 1% 3.5%;
        /* margin: 5vw;*/
        color: #212D63;
    }

    .details-list ul button {
        margin-right: 2rem;
    }

}

@media (max-width: 768px) {

    .details-list p {
        display: block;
    }

    .details form button {
        font-size : large;
    }
}