<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> {{ Title }}</title>
       {% if cssImports %}
            {% for import in cssImports %}
    <link rel="stylesheet" type="text/css" href="css/{{ import }}.css" />
            {% endfor %}
       {% endif %}
    {% if jsImports %}
        {% for import in jsImports %}
            <script src="/js/scripts/{{ import }}.js" ></script>
        {% endfor %}
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}

    {% endblock %}
</head>
<body>
<header>
    {% if user %}
    <p>{{ user["nombre"] }}</p>
    {% else %}
    <a href="/login" class="login_anchor">Login</a>
    {% endif %}
</header>
<main>
    {% block main %}

    {% endblock %}

</main>
<footer>
    <small>Legal</small>
    <small>Copyright</small>
    <address>Dirección: Ruta 5</address>
</footer>
</body>
</html>