<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Tienda Virtual - {{ title }}</title>

    {% if cssImports %}
        {% for import in cssImports %}
            <link rel="stylesheet" type="text/css" href="/css/{{ import }}.css" />
        {% endfor %}
    {% endif %}
  <!--  <script src="js/app.js" type="application/javascript"></script>
    <script src="js/abm.js" type="application/javascript"></script>-->
    {% if jsImports %}
        {% for import in jsImports %}
            <script src="/js/scripts/{{ import }}.js" ></script>
            <script src="/js/scripts/backoffice.js" ></script>
        {% endfor %}
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}

    {% endblock %}
</head>
<body>
<header>
    <button id="button-menu" class="PAW-Menu-Abrir"></button> 
    <nav>
        <ul>
            <li><a href="/backoffice">Inicio</a></li>
            <li>ABM Categorías
                <ul>
                    <li><a href="/backoffice-grupo-categoria">ABM Grupos de Categorías</a></li>
                    <li><a href="/backoffice-categoria">ABM Categorías</a></li>
                    <li><a href="/backoffice-sub-categoria">ABM Sub-Categorías</a></li> 
                    <!-- <li><a href="/backoffice-caracteristica">ABM Características</a></li> -->
                    <!-- <li><a href="/backoffice-valor-caracteristica">ABM Valor Características</a></li> -->
                    <!-- <li><a href="/backoffice-sub-categoria-caracteristica">Relaciones Sub Categorías - Características</a></li> -->
                </ul>
            </li>
            <li> Productos
                <ul>
                    <li><a href="/backoffice-producto">ABM Productos</a></li>
                    <!--<li><a href="/backoffice-producto-sub-categoria">Relación Producto - Sub Categoría</a></li>-->
                    <li><a href="/backoffice-fotografia-producto">ABM Fotografías</a></li>
                    <!-- <li><a href="/backoffice-stock">Stock</a>-->
                    <li><a href="/backoffice-publicacion">ABM Publicaciones</a></li>
                </ul></li>
            <li><a href="/backoffice-moneda">Moneda</a></li>
            <li><a href="/backoffice-ofertas">Admin. Ofertas</a></li>
            <!-- <li><a href="/backoffice-envíos">Envíos</a></li> -->
            <!-- <li><a href="/backoffice-informes">Informes</a></li> -->
            <li><a href="/shipments/all">Gestión de envíos</a></li>
            <li><a href="/backoffice-logout">Cerrar sesión</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block main %}
       
    {% endblock %}

</main>

</body>

{% block footer %}
    <footer>
        <small>Legal</small>
        <small>Copyright</small>
        <address>Dirección: Ruta 5</address>
    </footer>
{% endblock %}
</html>