{% extends "parts/commons.twig" %}


{% block head %}
{% endblock %}

{% block main %}

    <section>
        <h2>Dirección</h2>
        <section id="slide-bar">
            <h3>Perfil</h3>
            <ul>
                <li><a href="/profile-details"><i class="fas fa-qrcode"></i>Datos personales</a></li>
                <li><a href="/profile-address"><i class="fas fa-link"></i>Dirección</a></li>
            </ul>
        </section>
        <section id="details">

        </section>
    </section>
{% endblock %}