<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> {{ Title }}</title>
       {% if cssImports %}
            {% for import in cssImports %}
    <link rel="stylesheet" type="text/css" href="css/{{ import }}.css" />
            {% endfor %}
       {% endif %}
    {% if jsImports %}
        {% for import in jsImports %}
            <script src="/js/scripts/{{ import }}.js" ></script>
        {% endfor %}
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}

    {% endblock %}
</head>
<body>
<header>
    <form action="/buscar">
        <label>Buscar:
            <input type="text">
        </label>
        <button type="submit">Buscar</button>
    </form>
    <!--Agregar comprobación para mostrar sólo si el usuario está logeado, o si no mostrar botón de login-->
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/mis-compras">Mis compras</a></li>
            <li><a href="/historial">Historial</a></li>
            <li><a href="/categorías">Categorías</a></li>
            <li><a href="/arma-tu-pc">Armá tu PC</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block main %}

    {% endblock %}

</main>
<footer>
    <small>Legal</small>
    <small>Copyright</small>
    <address>Dirección: Ruta 5</address>
</footer>
</body>
</html>