<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> {{ Title }}</title>
       {% if cssImports %}
            {% for import in cssImports %}
    <link rel="stylesheet" type="text/css" href="css/{{ import }}.css" />
            {% endfor %}
       {% endif %}
    {% if jsImports %}
        {% for import in jsImports %}
            <script src="/js/scripts/{{ import }}.js" ></script>
        {% endfor %}
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}

    {% endblock %}
</head>
<body>
<header>
    <form action="/buscar">
        <label class="nombrePagina" id="AnimacionTitulo">TiendaVirtual</label>
        <input class="buscadorMenu" type="text">
        <button type="submit"><img class="lupa" src="img/lupa.png"/></button>
    </form>
    <!--Agregar comprobación para mostrar sólo si el usuario está logeado, o si no mostrar botón de login-->
    <button id="button-menu" class="PAW-Menu-Abrir"></button> 
    {% if user %}
        <h3 class="usuario"> Usuario {{attribute(user,"username")}} </h3>
    {% else %}
        <a href="/login" class="InicioSesion">
            Iniciar sesion
        </a>  
    {% endif %}
    
    <a class="icon-cart" href="/carrito">
        <div class="cart-line-1" style="background-color: #E5E9EA"></div>
        <div class="cart-line-2" style="background-color: #E5E9EA"></div>
        <div class="cart-line-3" style="background-color: #E5E9EA"></div>
        <div class="cart-wheel" style="background-color: #E5E9EA"></div>
    </a>  
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/miscompras">Mis compras</a></li>
            <!-- <li><a href="/historial">Historial</a></li> -->
            <li><a href="/grupocategorias">Categorías</a></li>
            <li><a href="/arma-tu-pc">Armá tu PC</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block main %}

    {% endblock %}    

</main>
<div class="cuerpo">
<div id="slideshow-principal">
        <div id="progress-bar-container">
            <div id="progress-bar"></div>
        </div>
        <div id="slideshow">
            <img src="" alt="" id="img1" class="imgportada">
            <img src="" alt="" id="img2" class="imgportada">
        </div>


        <div id="indicadores"></div>
    </div>

<section class="informacion">
    <div class="columnas">
    <img src="img/ubicacion.png"  id="iconosPortada" title="Ubicación">
        <h3>Ubicación</h3>
        <p>Av. Mitre 1600</p>
    </div>
    <div class="columnas">
    <img src="img/phone-call.png" id="iconosPortada" title="Números de contacto">
        <h3>Teléfonos de contacto</h3>
        <p>1124563258</p>
        <p>1132654297</p>
    </div>
    <div class="columnas">
        <h3>Redes Sociales</h3>
            <div class="redes">
                <img src="img/facebook.png"  id="iconosPortada" title="Facebook">
                <p id="redes">Tiendavirtual</p>
            </div>
            <div class="redes">
                <img src="img/instagram.png"  id="iconosPortada" title="Instagram">
                <p id="redes">Tiendavirtual</p>
            </div>
            <div class="redes">
                <img src="img/twitter.png"  id="iconosPortada" title="Twitter">
                <p id="redes">TiendaVirtual</p>
            </div>
    </div>
</section>
</body>
</div>

    {% block footer %}
<footer>
    <small>Legal</small>
    <small>Copyright</small>
    <address>Dirección: Ruta 5</address>
</footer>

</html>
{% endblock %}
